<div class="outputs">
  <ng-container *ngFor="let rover of rovers">
    <ng-container [ngTemplateOutlet]="channel"
    [ngTemplateOutletContext]="rover"></ng-container>
  </ng-container>
</div>

<div class="monitors">
  <div class="timeline-wrapper">
    <h3>Combine latest</h3>
    <div class="timeline" [appAutoscroll]="combineLatest$" [isVertical]="true" #combineLatestMonitor
    [class.error]="combineLatestErrors$ | async" [class.finalized]="combineLatestFinalize$ | async">
      <ng-container *ngFor="let tuple of combineLatest$ | async">
        <img *ngFor="let item of tuple.data" [src]="item.photo"
        [style.top.px]="(tuple.timeElapsed / 10)" [title]="rovers[item.roverIndex].name"
        [style.left.%]="item.roverIndex * 33">
      </ng-container>
    </div>
  </div>
  <div class="timeline-wrapper">
    <h3>Merge</h3>
    <div class="timeline" [appAutoscroll]="merge$" [isVertical]="true" #mergeMonitor
    [class.error]="mergeErrors$ | async" [class.finalized]="mergeFinalize$ | async">
      <img *ngFor="let item of merge$ | async" [src]="item.data?.photo"
      [style.top.px]="(item.timeElapsed / 10)" [title]="rovers[item.data?.roverIndex].name"
      [style.left.%]="item.data?.roverIndex * 33">
    </div>
  </div>
</div>

<ng-template #channel let-name="name" let-img="coverImg" let-photoSource$="photoStream$">
  <div class="channel">
    <div class="image-frame">
      <img [src]="img">
      <span class="rover-name">{{name}}</span>
    </div>
    <div class="pipe" [appAutoscroll]="photoSource$">
      <ng-container *ngFor="let photo of photoSource$ | async">
        <img [src]="photo">
      </ng-container>
    </div>
  </div>
</ng-template>
