.demo {
  mat-accordion {
    margin-top: 30px;
  }

  .salmon {
    color: salmon;
  }

  .orbital-data {
    background-color: #deeade;
    padding: 10px 20px;
  }

  h3.title {
    margin: 30px;
  }

  .gallery {
    margin: 30px;
  }

  .progress {
    width: 100%;
  }
}
