@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  background-color: #e9e2f3;
  margin: 0;
}

.masonry-item {
  width: 400px;
  cursor: pointer;

  img {
    width: 100%;
  }
}
